
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
    
    
   
}
/* body{
    width: 96vw;

} */


.special-item-grid {

    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
}



.special-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    position: relative;
    height: 250px;
    margin: 10px auto;
    
    padding: 2px;
    box-shadow: 1px 1px 5px 5px whitesmoke;
     
} 

.special-card:hover{
    transform: translateY(-15px);
    transition: transform 0.2s linear;
}
.screen{
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    transition: height 0.2s linear;
    overflow: hidden;
    color: white;
    
}

.screen.show{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: inherit;
    width: 100%;
    height: 110%;
    transition: height 0.2s linear;
    
}

.product-page-div{
    position: absolute;
    height: 30px;
    width: 100px;
    bottom: -30px;
    margin: auto;
    visibility: hidden;
    border: none;
    
    

    
    

}

.product-page-div.show{
    visibility: initial;
     transition: visibility 2s linear;
    
    
}

.product-page-div > button:hover {
    background-color: lightblue;
}


.product-page-btn{
  height: 100%;
  width: 100%;
  
  border-radius: 5px;
   

}


.special-card > img{
    width: 100%;
    max-height: 10rem;
    margin-bottom: auto;
    object-fit: cover;
    object-position: center;
   
}

.special-card  * {
    
    margin: 0.2px;
}

.info-modal{
    position: absolute;
    top : 50px;
    height: 500px;
    width: 500px;
    background-color: solid green 1px;
    

}






@media only screen and (min-width: 800px){

    .special-item-grid {

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 1em 1em;
    
}



.special-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    position: relative;
    height: 250px;
    margin: 2.5rem auto;
     
     
     
} 

.special-card:hover{
    transform: translateY(-15px);
    transition: transform 0.2s linear;
}
.screen{
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    transition: height 0.2s linear;
    overflow: hidden;
    color: white;
    
}

.screen.show{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: inherit;
    width: 100%;
    height: 110%;
    transition: height 0.2s linear;
    
}

.product-page-div{
    position: absolute;
    height: 30px;
    width: 100px;
    bottom: -30px;
    margin: auto;
    visibility: hidden;
    border: none;
    
    

    
    

}

.product-page-div.show{
    visibility: initial;
     transition: visibility 2s linear;
    
    
}

.product-page-div > button:hover {
    background-color: lightblue;
}


.product-page-btn{
  height: 100%;
  width: 100%;
  
  border-radius: 5px;
   

}


.special-card > img{
    width: 100%;
    max-height: 10rem;
    margin-bottom: auto;
    object-fit: cover;
    object-position: center;
   
}

.special-card  * {
    
    margin: 0.2px;
   
}

.info-modal{
    position: absolute;
    top : 50px;
    height: 500px;
    width: 500px;
    background-color: solid green 1px;
    z-index: 

}




}

